[submodule "external/wasmtime"]
	path = external/wasmtime
	url = https://github.com/bytecodealliance/wasmtime.git
[submodule "crates/webrogue_wasm3_backend/external/wasm3-rs"]
	path = crates/webrogue_wasm3_backend/external/wasm3-rs
	url = https://github.com/wasm3/wasm3-rs.git
