<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>webrogue app file</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>io.github.webrogue-runtime.wrapp</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationSceneManifest</key>
	<false/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIconFiles</key>
			<array>
				<string>Document.png</string>
			</array>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Webrogue app file</string>
			<key>UTTypeIdentifier</key>
			<string>io.github.webrogue-runtime.wrapp</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>wrapp</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
